---
import Tailwind from "./icons/Tailwind.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import ReactJS from "./icons/ReactJS.astro";
import NodeJS from "./icons/NodeJS.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import MySQL from "./icons/Mysql.astro";

const TAGS = {
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },

  ReactJS: {
    name: "ReactJS",
    class: "bg-[#003159] text-white",
    icon: ReactJS,
  },

  NODEJS: {
    name: "NodeJS",
    class: "bg-[#095700] text-white",
    icon: NodeJS,
  },

  EXPRESSJS: {
    name: "ExpressJS",
    class: "bg-[#232323] text-white",
    icon: ExpressJS,
  },

  MYSQL: {
    name: "MySQL",
    class: "bg-[#6a9cdf] text-white",
    icon: MySQL,
  },
};

const PROJECTS = [
  {
    title: "Ventas de servicios de seguridad OST",
    description:
      "Desarrollo de una página web enfocada en la prestacion de servicios de seguridad privada de viviendas y otros. El sitio ofrece una interfaz intuitiva, diseño responsive y funcionalidades como solicitud de cotizaciones y formularios de contacto personalizados, mejorando la accesibilidad y visibilidad de la empresa en línea. Creado desde cero con React, Tailwind CSS y Framer Motion.",
    link: "",
    github: "https://github.com/Jhonatan192001/LandingPage_ost",
    image: "../../public/projects/lpCamaras.png",
    tags: [TAGS.TAILWIND, TAGS.ReactJS],
  },
  {
    title: "CRM de servicios de seguridad OST",
    description:
      "Desarrollo de un sistema CRM personalizado para gestionar clientes, contratos y operaciones de una empresa de seguridad, etc. El proyecto incluye la automatización del seguimiento de clientes, la generación de reportes y la integración con bases de datos para optimizar la gestión interna y mejorar la eficiencia operativa y más. Creada desde cero con NodeJS, Express, Mysql, React y Tailwind CSS.",
    link: "",
    github: "https://github.com/Jhonatan192001/crmOST",
    image: "../../public/projects/cmrCamaras.png",
    tags: [TAGS.NODEJS, TAGS.EXPRESSJS, TAGS.MYSQL, TAGS.ReactJS, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
